.home-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #FF99DC, #0D0D55);
    color: #fff;
    padding: 4rem 2rem;
}

.home-title {
    font-size: 3rem;
    font-weight: 400;
    color: white;
    margin-bottom: 1.5rem;
}


.home-image {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1.5rem;
    box-shadow: 0 8px 20px #D2C7FF;
}

.home-image:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px #d9f103a5;
    border-color: black;
}