/* Estilos de la app */

/* Contenedor principal de las páginas */
.app-main {
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to bottom, var(--secondary-color), var(--primary-color));
  box-sizing: border-box;
}





/* Tarjetas genéricas */
.card {
  padding: 2em;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
  margin: 1rem auto;
  max-width: 600px;
}

/* Texto secundario */
.read-the-docs {
  color: var(--text-muted);
  font-size: 0.9rem;
}

/* response*/

/* Tablets */
@media (max-width: 1024px) {
  .app-main {
    padding: 1.5rem;
  }

  .logo {
    height: 5em;
  }
}

/* Celulares grandes */
@media (max-width: 768px) {
  .app-main {
    padding: 1.2rem;
  }

  .logo {
    height: 4.5em;
  }
}

/* Celulares pequeños */
@media (max-width: 480px) {
  .app-main {
    padding: 1rem;
  }

  .logo {
    height: 4em;
  }

  .card {
    padding: 1.5em;
  }
}
